.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  background-color: floralwhite;
}

h1 {
  border: 5px;
  margin: 10px;
  padding: 10px;
  font-size: 50px;
  color: black;
  font-family: monospace;
  font-weight: bolder;
  text-align: center;
}
button {
  order: none;
  background-color: rgb(28, 150, 28);
  padding: 10px;
  margin: 10px;
  border: 5px;
  font-family: arial;
  font-weight: bolder;
  color: beige;
  transition-duration: 0.4s;
}

button:hover {
  background-color: rgb(17, 191, 17);
  color: white;
}

.content {
  display: grid;
  grid-template-columns: auto 350px;
}
